<div>
    The random number is: {{randomNumber}}
</div>

<!--Examples of a Structural Directive and a Attribite Directive-->
<div *ngIf="isEvenRandomNumber; else oddNumberLocalReference" 
    [ngStyle]="{backgroundColor: 'green', display: 'inline'}">
        The number is even.
</div>

<div [ngClass]="{ngClassSampleOrange : isEvenRandomNumber}">
    Example of [ngClass] Attribute Directive.
</div>

<ng-template #oddNumberLocalReference>
    <div [ngStyle]="{backgroundColor: 'red', display: 'inline'}">
        The number is odd.
    </div>
</ng-template>